html,
body,
#root {
  height: 100%;
}

.main-page-wrapper {
  background: #FF7171;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page-inner {
  text-align: center;
}

.main-page-img {
  max-width: 100%;
}

.main-page-title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 94px;
  line-height: 100px;
  letter-spacing: -0.751px;
  color: #FFFFFF;
  text-align: center;
  margin: -18px 0 0;
}